# compiled output
dist/
node_modules/
bower_components/

# ignore lock file
yarn.lock
package-lock.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# Temporary files
temp
/.temp

# Coverage reports
coverage

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json 
